<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <title>R OO M</title> 
 
 </head>



<body>
        
    This website was built by 
    <a href="http://bibakosmerl.tumblr.com" target="_blank"; style="color: #000000; text-decoration: none;">Biba Košmerl</a> 
    for <a href="http://art.yale.edu/Art742b" target="_blank"; style="color: #000000; text-decoration: none;">Networks and Transactions</a> 
    class in <a href="http://art.yale.edu/GraphicDesign" target="_blank"; style="color: #000000; text-decoration: none;">Yale Graphic Design MFA</a>
    in February of 2015.

    
    
    
</body>
</html>