<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
     <title>R OO M</title> 
 </head>
 
 
    <body> 
    
    <div class="furniture" id="banana">
            <img class="good" src="images/banana.png">
            <img class="broken" src="images/bananaBR.png">
    </div>
    
    <div class="furniture" id="book">
            <img src="images/book.png">
    </div>
    
    <div class="furniture" id="cactus">
            <img class="good" src="images/cactus.png">
            <img class="broken" src="images/cactusBR.png">
    </div>
    
    <div class="furniture" id="chair">
            <img src="images/chair.png">
    </div>
    
    <div class="furniture" id="coffee">
            <img class="good" src="images/coffee.png">
            <img class="broken" src="images/coffeeBR.png">
    </div>
    
           <div class="furniture" id="cupboard">
           <img src="images/cupboard.png">
    </div>

    <div class="furniture" id="closet">
            <img class="good" src="images/closet.png">
            <img class="broken" src="images/closetBR.png">
    </div>
    
    <div class="furniture" id="gloves">
            <img class="good" src="images/gloves.png">
            <img class="broken" src="images/glovesBR.png">
    </div>  
    
     <div class="furniture" id="ghost">
            <img src="images/ghost.png">
    </div>  
    
    <div class="furniture" id="guitar">
            <img class="good" src="images/guitar.png">
            <img class="broken" src="images/guitarBR.png">
    </div>  
    
    <div class="furniture" id="lamp">
            <img class="good" src="images/lamp.png">
            <img class="broken" src="images/lampBR.png">
    </div>
    
    <div class="furniture" id="mouse">
        <img class="good" src="images/mouse.png">
        <img class="broken" src="images/mouseBR.png">
    </div>  
    
    <div class="furniture" id="rug">
            <img class="good" src="images/rug.png">
        <img class="broken" src="images/rugBR.png">
    </div>
    <div class="furniture" id="table">
        <img class="good" src="images/table.png">
        <img class="broken" src="images/tableBR.png">
    </div>
   
    <!--<div class="furniture" id="officechair">-->
    <!--        <img src="images/officechair.png">-->
    <!--</div>  -->
    
    <div class="furniture" id="pablo">
            <img src="images/pablo.png">
    </div>  
    <div class="furniture" id="padthai">
        <img class="good" src="images/padthai.png">
        <img class="broken" src="images/padthaiBR.png">
    </div>  
   
    <div class="furniture" id="panties">
        <img class="good" src="images/panties.png">
        <img class="broken" src="images/pantiesBR.png">
    </div> 
   
    <div class="furniture" id="panties2">
            <img src="images/panties2.png">
    </div>  
    
    <div class="furniture" id="redcup">
        <img class="good" src="images/redcup.png">
        <img class="broken" src="images/cupBR.png">
    </div>  
    
    <div class="furniture" id="slippers">
        <img class="good" src="images/slippers.png">
        <img class="broken" src="images/slippersBR.png">
    </div>  
    
    <div class="furniture" id="socks">
        <img class="good" src="images/socks.png">
        <img class="broken" src="images/socksBR.png">
    </div>  
    
    <div class="furniture" id="teapot">
        <img class="good" src="images/teapot.png">
        <img class="broken" src="images/teapotBR.png">
    </div>  
    
    <div class="furniture" id="water">
        <img class="good" src="images/water.png">
        <img class="broken" src="images/waterBR.png">
    </div>
    
   <div class="furniture" id="window">
        <img class="good" src="images/window.png">
        <img class="broken" src="images/windowBR.png">    
    </div>
  
    
    <div class="menu_top">
        <div class="menu_item" data-kind="banana"><a>banana</a></div> 
        <div class="menu_item" data-kind="book"><a>book</a></div> 
        <div class="menu_item" data-kind="cactus"><a>cactus</a></div> 
        <div class="menu_item" data-kind="chair"><a>chair</a></div> 
        <div class="menu_item" data-kind="coffee"><a>coffee</a></div> 
        <div class="menu_item" data-kind="redcup"><a>cup</a></div>
        <div class="menu_item" data-kind="cupboard"><a>cupboard</div> 
        <div class="menu_item" data-kind="closet"><a>closet</a></div> 
        <div class="menu_item" data-kind="ghost"><a>ghost</a></div> 
        <div class="menu_item" data-kind="gloves"><a>gloves</a></div> 
        <div class="menu_item" data-kind="guitar"><a>guitar</a></div> 
        <div class="menu_item" data-kind="lamp"><a>lamp</a></div> 
     </div>
        
    <div class="menu_bottom">
        <div class="menu_item" data-kind="mouse"><a>mouse</a></div> 
        <div class="menu_item" data-kind="pablo"><a>Pablo</a></div> 
        <div class="menu_item" data-kind="padthai"><a>PadThai</a></div> 
        <div class="menu_item" data-kind="panties"><a>panties</a></div> 
        <div class="menu_item" data-kind="rug"><a>rug</a></div> 
        <div class="menu_item" data-kind="slippers"><a>slippers</a></div> 
        <div class="menu_item" data-kind="socks"><a>sock</a></div> 
        <div class="menu_item" data-kind="table"><a>table </a></div> 
        <div class="menu_item" data-kind="teapot"><a>tea</a></div>
        <div class="menu_item" data-kind="panties2"><a>undies</a></div> 
        <div class="menu_item" data-kind="water"><a>water</a></div> 
        <div class="menu_item" data-kind="window"><a>window</a></div> 
        <!--<div class="menu_item" data-kind="officechair"><a>chair</a></div> -->
       
    </div> 
  
   <a href="/about" style="color: #fb3f00; text-decoration: none;" class="about">About</a>
  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
   <script src="/javascripts/javascript.js"></script>
    <script>
        $(document).ready(function(){
    $('a').click(function(){
        $(this).toggleClass('clicked');
    });
});
    </script>
   </body>
</html>


